body {
    font-family: 'Press Start 2P', cursive; /* This is a pixelated font available on Google Fonts */
    background-color: #222;
    color: #FFF;
    text-align: center;
}

button {
    background-color: #444;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    color: #FFF;
}

button:hover {
    background-color: #666;
}

#results, #score {
    font-size: 20px;
    margin-top: 20px;
}